
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Your account has been registered and currently under processing. You will be notified by email once it has been processed</h2>

